@media (max-width: 1399.98px) {
    .addresses{
        &__wrapper{
            column-gap: 15px;
        }
    }
}

@media (max-width: 1199.98px) {
    .addresses{
        &__wrapper{
            grid-template-columns: repeat(3, minmax(170px, max-content));
            justify-content: space-between;
            row-gap: 22px;
        }
    }
}


@media (max-width: 767.98px) {
    .addresses{
        &__wrapper{
            grid-template-columns: repeat(2, minmax(170px, max-content));
            justify-content: center;
            row-gap: 22px;
        }
    }
    .promo{
        &__menu{
            visibility: hidden;
        }
        .hamburger{
            visibility: visible;
        }
    }
}

@media (max-width: 575.98px) {
    .menu{
        &__block{
            width: 70%;
        }
    }
}

@media (max-width: 475px) {
    .addresses{
        &__wrapper{
            grid-template-columns: minmax(170px, max-content);
            row-gap: 22px;
        }
    }
    .menu{
        &__block{
            width: 80%;
        }
    }
}