//Bootstrap//
// @import 'libs/bootstrap-reboot.min';
// @import 'libs/bootstrap-grid.min';



//Fonts//
@import "../fonts/stylesheet.css";


//Bootstrap//
@import "libs/bootstrap.min.css";

//Base//
@import "base/variables";
@import "base/mixins";



//Global styles//
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}



//Blocks//
@import "blocks/addresses";
@import "blocks/menu";
@import "blocks/promo";
@import "blocks/buttons";
@import "blocks/advantages";
@import "blocks/title";
@import "blocks/solutions";
@import "blocks/excellence";



//Media//
@import "base/media";
