.advantages{
    min-height: 500px;
    padding: 80px 0;
    .row{
        flex-wrap: nowrap;
    }
    &__item{
        width: 360px;
        height: 255px;
        border: 1px solid #ececec;
        margin: 0 auto 20px auto;
        padding: 176px 50px 40px 50px;
        position: relative;
        &-logo{
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            margin: 0 auto;
            z-index: -1;
        }
        &-img{
            position: absolute;
            bottom: 0;
            right: 0;
        }
        h3{
            color: #393939;
            font-size: 18px;
            font-weight: 300;
            line-height: 26px;
            text-align: center;
        }
        h3.advantages__item-title{
            font-weight: 700;
        }
    }
    &__divider{
        margin: 30px auto 37px auto;
        &-img{
            display: block;
            margin: 0 auto;
            width: 170px;
            height: 50px;
        }
        &-title{
            text-align: center;
            margin-top: 33px;
        }
    }
}