.btn{
    width: 241px;
    height: 60px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.07);
    background-color: $main-color;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0 auto;
    border: none;
    &:hover{
        color: red;
    }
}