// Wrapper for the slide container and indicators
.carousel {
    position: relative;
  }
  
  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-item {
    position: relative;
    display: none;
    align-items: center;
    width: 100%;
    @include transition($carousel-transition);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
    display: block;
  }
  
  .carousel-item-next,
  .carousel-item-prev {
    position: absolute;
    top: 0;
  }
  
  // CSS3 transforms when supported by the browser
  .carousel-item-next.carousel-item-left,
  .carousel-item-prev.carousel-item-right {
    transform: translateX(0);
  
    @supports (transform-style: preserve-3d) {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .carousel-item-next,
  .active.carousel-item-right {
    transform: translateX(100%);
  
    @supports (transform-style: preserve-3d) {
      transform: translate3d(100%, 0, 0);
    }
  }
  
  .carousel-item-prev,
  .active.carousel-item-left {
    transform: translateX(-100%);
  
    @supports (transform-style: preserve-3d) {
      transform: translate3d(-100%, 0, 0);
    }
  }