.excellence{
    padding: 80px 0;
    &__wrapper{
        display: grid;
        grid-template: repeat(3, minmax(auto, 355px)) / repeat(2, minmax(auto, 555px));
        grid-auto-rows: 355px;
        justify-content: center;
        margin-top: 45px;
    }
    &__item{
        position: relative;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &-title{
            width: 60%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 20%;
            color: #ffffff;
            font-size: 23px;
            font-weight: 300;
            line-height: 26px;
            text-align: center;
        }
    }
}