.hamburger{
    display: flex;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 25px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    span{
        display: block;
        width: 35px;
        height: 3px;
        background: #FFFFFF;
    }
}

.menu{
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: all 0.6s;
    &.active{
        left: 0%;
        visibility: visible;
        opacity: 1;
    }
    &__block{
        position: relative;
        // left: -100%;
        transition: all 0.6s;
        width: 50%;
        background-color: $main-color;
        height: 100%;
        padding-top: 140px;
        z-index: 10;
    }
    &__close{
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
        &:hover{
            svg path{
                fill: #fff;
            }
        }
    }
    &__list{
        list-style-type: none;
        padding: 0;
    }
    &__link{
        position: relative;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        margin-bottom: 15px;
        a{
            color: #fff;
            text-decoration: none;
        }
    }
    &__overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        opacity: .75;
    }
}    