.promo{
    height: 700px;
    padding: 40px 0 70px 0;
    position: relative;
    .hamburger{
        visibility: hidden;
    }
    &__header{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-height: 65px;
    }
    &__logo{
        width: 140px;
        height: 100%;
        align-self: center;
        img{
            width: 140px;
            height: 65px;
            object-fit: cover;
        }
    }
    &__menu{
        width: 540px;
        height: max-content;
        align-self: center;
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            list-style: none;
            margin: 0;
            align-items: center;
            a{
                color: #fff;
                font-size: 13px;
                font-weight: 700;
                line-height: 26px;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }
    &__title{
        margin-top: 135px;
        display: block;
        width: 550px;
        color:#fff;
        font-size: 42px;
        font-weight: 900;
        line-height: 48px;
        text-align: left;
    }
    &__subtitle{
        width: 430px;
        margin-top: 27px;
        color: #fff;
        font-size: 24px;
        font-weight: 300;
        line-height: 30px;
        text-align: left;
        span{
            font-weight: 400;
        }
    }
    &__btn{
        margin-top: 40px;
    }
    &__phones{
        position: absolute;
        right: 0;
        bottom: 0;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .carousel {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        &-item{
            width: 100%;
            height: 700px;
            transition: transform 2s ease, opacity .5s ease-out;
            &_2.lazyload{
                background-image: none;
                background-color: #F1F1FA;
            }
            &_3.lazyload{
                background-image: none;
                background-color: #F1F1FA;
            }
            &_4.lazyload{
                background-image: none;
                background-color: #F1F1FA;
            }
            &_5.lazyload{
                background-image: none;
                background-color: #F1F1FA;
            }
            &_1{
                background: url('../../img/promo_background.png') no-repeat 48%/cover;
                filter: brightness(50%);
            }
            &_2{
                background: url('https://www.businessplantemplate.com/wp-content/uploads/2016/04/Mobile-App.jpg') no-repeat 25%/cover;
                filter: brightness(50%);
            }
            &_3{
                background: url('https://www.purdue.edu/research/dimensions/wp-content/uploads/2018/11/iStock-914788012.jpg') no-repeat center/cover;
                filter: brightness(50%);
            }
            &_4{
                background: url('https://systemeblog.com/wp-content/uploads/2020/01/Mobile-Application-As-An-Effective-Business-Solution.jpg') no-repeat 30%/cover;
                filter: brightness(50%);
            }
            &_5{
                background: url('http://cg-infotech.com/wp-content/uploads/2019/10/BUSINESS-SOLUTION-NowNow-Pay.png') no-repeat center/cover;
                filter: brightness(50%);
            }
        }
        &-number{
            display: none;
        }
        &-control{
            &-prev{
                width: 25px;
                height: 25px;
                position: absolute;
                left: calc(50% - 55px);
                transform: translateX(-50%);
                top: 85%;
            }
            &-next{
                width: 25px;
                height: 25px;
                position: absolute;
                right: calc(50% - 55px);
                transform: translateX(50%);
                top: 85%;
            }
        }
        &-indicators{
            width: 100px;
            height: 25px;
            align-items: center;
            position: absolute;
            top: 85%;
            left: 50%;
            transform: translateX(-50%);
            margin: 0;
            li{
                width: 11px;
                height: 11px;
                margin: 0 2px;
                border-radius: 100%;
                border: 1px solid #fff;
                background: transparent;
                &.active{
                    background: #fff;
                }
            }
        }
    }
}