.promo{
    background: url('../../img/promo_background.png') no-repeat center/cover;
    min-height: 700px;
    padding: 40px 0 70px 0;
    position: relative;
    .hamburger{
        visibility: hidden;
    }
    &__header{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-height: 65px;
    }
    &__logo{
        width: 140px;
        height: 100%;
        align-self: center;
        img{
            height: 100%;
            object-fit: cover;
        }
    }
    &__menu{
        width: 540px;
        height: max-content;
        align-self: center;
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            list-style: none;
            margin: 0;
            align-items: center;
            a{
                color: #fff;
                font-size: 13px;
                font-weight: 700;
                line-height: 26px;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }
    &__title{
        margin-top: 135px;
        display: block;
        width: 550px;
        color:#fff;
        font-size: 42px;
        font-weight: 900;
        line-height: 48px;
        text-align: left;
    }
    &__subtitle{
        width: 430px;
        margin-top: 27px;
        color: #fff;
        font-size: 24px;
        font-weight: 300;
        line-height: 30px;
        text-align: left;
        span{
            font-weight: 400;
        }
    }
    &__btn{
        margin-top: 40px;
    }
    &__phones{
        position: absolute;
        right: 0;
        bottom: 0;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}